<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
		<setting label="30000" type="slider" id="history_length" default="20" range="0,1,100" option="int"/>
		<setting label="30001" type="bool" id="smart_search" default="true"/>
	</category>
	<category label="32000">
		<setting label="32001" type="bool" id="movies" default="true"/>
		<setting label="32002" type="bool" id="tvshows" default="true"/>
		<setting label="32003" type="bool" id="episodes" default="false"/>
		<setting label="32011" type="bool" id="actors" default="false"/>
		<setting label="32012" type="bool" id="directors" default="false"/>
		<setting label="32013" type="bool" id="tvactors" default="false"/>
		<setting label="32004" type="bool" id="musicvideos" default="false"/>
		<setting label="32009" type="bool" id="livetv" default="false"/>
		<setting label="32005" type="bool" id="artists" default="false"/>
		<setting label="32006" type="bool" id="albums" default="false"/>
		<setting label="32007" type="bool" id="songs" default="false"/>
		<setting label="24140" type="number" id="view" default="50" visible="false"/>
	</category>
</settings>
