<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[script.module.slyguy 32139]">
        <setting label="30013" id="show_countries" type="bool" default="true"/>
        <setting label="30012" id="show_groups" type="bool" default="true"/>
        <setting label="30001" id="show_chno" type="bool" default="true"/>
        <setting label="30004" id="show_epg" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32111]" id="bookmarks" type="bool" default="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32035]">
        <setting label="$ADDON[script.module.slyguy 32061]" id="default_quality" type="enum" default="0" lvalues="32055|32043|32060|32048|32054|32073"/>
        <setting label="$ADDON[script.module.slyguy 32059]" id="max_bandwidth" type="slider" default="7" range="0.5,0.5,100" option="float" visible="eq(-1,4)"/>
        <setting label="$ADDON[script.module.slyguy 32076]" type="bool" id="use_ia_hls_live" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32023]" type="bool" id="use_ia_hls_vod" default="false" visible="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32081]">
        <setting label="$ADDON[script.module.slyguy 32080]" type="slider" id="epg_days" default="3" range="1,1,7" option="int" visible="false"/>
        <setting label="$ADDON[script.module.slyguy 32079]" type="action" action="RunPlugin(plugin://$ID/?_=_setup_merge)" option="close"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32036]">
        <setting label="$ADDON[script.module.slyguy 32021]" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" option="close" visible="false"/>
        <setting label="$ADDON[script.module.slyguy 32039]" id="service_delay" type="number" default="0" visible="false"/>

        <setting label="$ADDON[script.module.slyguy 32019]" type="action" action="RunPlugin(plugin://$ID/?_=_reset)" option="close"/>

        <setting id="_fresh" type="bool" default="true" visible="false"/>
        <setting id="_userdata" type="text" default="{}" visible="false"/>
    </category>
</settings>
