<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[script.module.slyguy 32034]">
        <setting label="$ADDON[script.module.slyguy 32104]" type="bool" id="kid_lockdown" default="false"/>
        <setting label="30012" type="bool" id="my_stuff" default="true"/>
        <setting label="30010" type="bool" id="sync_playback" default="false"/>
        <setting label="30023" type="bool" id="hide_locked" default="true"/>
        <setting label="30026" type="bool" id="hide_upcoming" default="false"/>
        <setting label="30034" type="bool" id="hide_kids" default="false"/>
        <setting label="30035" type="bool" id="hide_live" default="false"/>
        <setting label="30004" type="text" id="lat" default=""/>
        <setting label="30005" type="text" id="long" default=""/>
        <setting label="30000" type="text" id="device_id" default="{mac_address}"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32035]">
        <setting label="$ADDON[script.module.slyguy 32063]" id="live_play_type" type="enum" default="0" lvalues="32066|32065|32064"/>
        <setting label="$ADDON[script.module.slyguy 32061]" id="default_quality" type="enum" default="0" lvalues="32055|32043|32060|32048|32054|32073"/>
        <setting label="$ADDON[script.module.slyguy 32059]" id="max_bandwidth" type="slider" default="7" range="0.5,0.5,100" option="float" visible="eq(-1,4)"/>

        <setting label="30007" type="bool" id="ec3" default="true"/>
        <setting label="30009" type="bool" id="secondary_audio" default="false"/>
        <setting label="30006" type="bool" id="h265" default="true"/>
        <setting label="30008" type="bool" id="4k" default="true" visible="eq(-1,true)"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32081]">
        <setting label="$ADDON[script.module.slyguy 32080]" type="slider" id="epg_days" default="3" range="1,1,7" option="int"/>
        <setting label="$ADDON[script.module.slyguy 32079]" type="action" action="RunPlugin(plugin://$ID/?_=_setup_merge)" option="close"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32036]">
        <setting label="$ADDON[script.module.slyguy 32111]" id="bookmarks" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32078]" id="kiosk" type="bool" default="false"/>
        <setting label="$ADDON[script.module.slyguy 32037]" id="verify_ssl" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32044]" id="http_timeout" type="number" default="30"/>
        <setting label="$ADDON[script.module.slyguy 32045]" id="http_retries" type="number" default="2"/>
        <setting label="$ADDON[script.module.slyguy 32046]" id="chunksize"    type="number" default="4096"/>
        <setting label="$ADDON[script.module.slyguy 32039]" id="service_delay" type="number" default="0" visible="false"/>

        <setting label="$ADDON[script.module.slyguy 32019]" type="action" action="RunPlugin(plugin://$ID/?_=_reset)" option="close"/>

        <setting id="_fresh" type="bool" default="true" visible="false"/>
        <setting id="_userdata" type="text" default="{}" visible="false"/>
    </category>
</settings>
