<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[script.module.slyguy 32139]">
        <setting label="30021" type="bool" id="play_next_episode" default="true"/>
        <setting label="30022" type="bool" id="play_next_movie" default="false"/>
        <setting label="30024" type="bool" id="skip_intros" default="false"/>
        <setting label="30020" type="bool" id="skip_credits" default="true"/>
        <setting label="30047" type="bool" id="sync_watchlist" default="true"/>
        <setting label="30016" type="bool" id="sync_playback" default="false"/>
        <setting label="30033" type="text" id="app_language" default=""/>
        <setting label="$ADDON[script.module.slyguy 32143]" id="pagination_multiplier" type="slider" default="1" range="1,1,10" option="int"/>
        <setting label="$ADDON[script.module.slyguy 32104]" type="bool" id="kid_lockdown" default="false"/>
        <setting label="$ADDON[script.module.slyguy 32111]" id="bookmarks" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32078]" id="kiosk" type="bool" default="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32035]">
        <setting label="$ADDON[script.module.slyguy 32061]" id="default_quality" type="enum" default="0" lvalues="32055|32043|32060|32048|32054|32073"/>
        <setting label="$ADDON[script.module.slyguy 32059]" id="max_bandwidth" type="slider" default="7" range="0.5,0.5,100" option="float" visible="eq(-1,4)"/>

        <setting label="$ADDON[script.module.slyguy 32072]" id="default_language" type="text" default=""/>
        <setting label="$ADDON[script.module.slyguy 32121]" id="default_subtitle" type="text" default=""/>
        <setting label="$ADDON[script.module.slyguy 32086]" id="audio_whitelist" type="text" default=""/>
        <setting label="$ADDON[script.module.slyguy 32087]" id="subs_whitelist" type="text" default=""/>
        <setting label="$ADDON[script.module.slyguy 32090]" id="audio_description" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32088]" id="subs_forced" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32089]" id="subs_non_forced" type="bool" default="true"/>

        <setting label="30023" id="default_ratio" type="enum" default="1" lvalues="32055|30009|21377"/>
        <setting label="30052" type="bool" id="dolby_atmos" default="false"/>
        <setting label="30019" type="bool" id="hevc" default="false"/>
        <setting label="30018" type="bool" id="hdr10" default="true" visible="Integer.IsEqual(Window(10000).Property(wv_level),1)"/>
        <setting label="30015" type="bool" id="dolby_vision" default="false" visible="Integer.IsEqual(Window(10000).Property(wv_level),1)"/>

        <setting label="$ADDON[script.module.slyguy 32076]" type="bool" id="use_ia_hls_live" default="true" visible="false"/>
        <setting label="$ADDON[script.module.slyguy 32023]" type="bool" id="use_ia_hls_vod" default="true" visible="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32036]">
        <setting label="$ADDON[script.module.slyguy 32021]" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" option="close" visible="!system.platform.android"/>
        <setting label="$ADDON[script.module.slyguy 32039]" id="service_delay" type="number" default="0" visible="false"/>

        <setting label="$ADDON[script.module.slyguy 32019]" type="action" action="RunPlugin(plugin://$ID/?_=_reset)" option="close"/>

        <setting id="_fresh" type="bool" default="true" visible="false"/>
        <setting id="_userdata" type="text" default="{}" visible="false"/>
    </category>
</settings>
