<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[script.module.slyguy 32034]">
        <setting label="30001" id="output_dir" type="folder" source="files" option="writeable" default="special://userdata/addon_data/plugin.program.iptv.merge"/>
        <setting label="30002" id="auto_merge" type="bool" default="true" enable="eq(2,false)"/>
        <setting label="30003" id="reload_time_hours" type="slider" default="12" range="1,1,48" option="int" visible="eq(-1,true)"/>
        <setting label="30098" id="merge_at_hour" type="bool" default="false" enable="eq(-2,false)"/>
        <setting label="30099" id="merge_hour" type="slider" default="3" range="0,1,23" option="int" visible="eq(-1,true)"/>
        <setting label="30073" id="boot_merge" type="bool" default="false"/>
        <setting label="30093" id="merge_playlists" type="bool" default="true"/>
        <setting label="30094" id="merge_epgs" type="bool" default="true"/>
        <setting label="30004" id="restart_pvr" type="bool" default="true"/>
        <setting label="30079" id="http_api" type="bool" default="false"/>
        <setting label="30080" id="http_force_merge" type="bool" default="true" visible="eq(-1,true)"/>
        <setting label="30070" id="start_ch_no" type="number" default="1"/>
        <setting label="30081" id="remove_epg_orphans" type="bool" default="false"/>
        <setting label="30097" id="hide_groups" type="text" default=""/>
        <setting label="30095" id="disable_groups" type="bool" default="false"/>
        <setting label="30078" id="group_order" type="text" default="" enable="eq(-1,false)"/>
        <setting label="30006" type="action" action="RunPlugin(plugin://$ID/?_=setup)"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32139]">
        <setting label="30005" id="page_size" type="number" default="200"/>
        <setting label="30077" id="ask_to_add" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32111]" id="bookmarks" type="bool" default="false" visible="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32035]">
        <setting label="30066" type="bool" id="iptv_merge_proxy" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32061]" id="default_quality" type="enum" default="0" lvalues="32055|32043|32060|32048|32054|32073" enable="eq(-1,true)"/>
        <setting label="$ADDON[script.module.slyguy 32059]" id="max_bandwidth" type="slider" default="7" range="0.5,0.5,100" option="float" visible="eq(-1,4)"/>

        <setting label="$ADDON[script.module.slyguy 32076]" type="bool" id="use_ia_hls_live" default="false" enable="eq(-3,true)"/>
        <setting label="$ADDON[script.module.slyguy 32023]" type="bool" id="use_ia_hls_vod" default="false" visible="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32036]">
        <setting label="$ADDON[script.module.slyguy 32021]" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" option="close" visible="false"/>
        <setting label="30096" id="service_delay" type="number" default="0"/>

        <setting label="$ADDON[script.module.slyguy 32019]" type="action" action="RunPlugin(plugin://$ID/?_=_reset)" option="close"/>

        <setting id="_fresh" type="bool" default="true" visible="false"/>
        <setting id="_userdata" type="text" default="{}" visible="false"/>
    </category>
</settings>
