backports #rename to _backports
arrow #rename backports.functools_lru_cache import lru_cache to _backports.functools_lru_cache import lru_cache in parser.py
bs4
certifi
chardet
python-dateutil
idna
kodi_six
pyaes
pycaption #modified
requests
urllib3
peewee
six