<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[script.module.slyguy 32034]">
        <setting label="30000" type="action" action="RunPlugin(plugin://$ID/?_=update_addons)"/>
        <setting label="30019" type="action" action="RunPlugin(plugin://$ID/?_=check_log)"/>
        <setting label="$ADDON[script.module.slyguy 32021]" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" visible="!system.platform.android"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32138]">
        <setting label="32140" type="lsep"/>
        <setting label="30020" type="text" id="donor_id"/>
        <setting label="30021" type="bool" id="show_news" default="true" enable="Integer.IsEqual(Window(10000).Property(_slyguy_donor),1)"/>
        <setting label="30040" type="bool" id="fast_updates" default="true" enable="Integer.IsEqual(Window(10000).Property(_slyguy_donor),1)"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32139]">
        <setting label="30024" id="menu_view_shows_seasons" type="bool" default="false"/>
        <setting label="30023" id="video_view_media" type="bool" default="false"/>
        <setting label="30037" id="video_view_menus" type="bool" default="false"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32035]">
        <setting label="30022" id="ignore_display_resolution" type="bool" default="true"/>
        <setting label="30034" id="skip_next_channel" type="bool" default="false"/>
        <setting label="30025" id="max_width" type="number" default="0"/>
        <setting label="30026" id="max_height" type="number" default="0"/>
        <setting label="30027" id="h265" type="bool" default="false"/>
        <setting label="30038" id="vp9" type="bool" default="false"/>
        <setting label="30039" id="av1" type="bool" default="false"/>
        <setting label="30028" id="hdr10" type="bool" default="false"/>
        <setting label="30029" id="dolby_vision" type="bool" default="false"/>
        <setting label="30030" id="dolby_atmos" type="bool" default="false"/>
        <setting label="30031" id="ac3" type="bool" default="true"/>
        <setting label="30032" id="ec3" type="bool" default="true"/>
        <setting label="30033" id="max_channels" type="number" default="0"/>
    </category>

    <category label="$ADDON[script.module.slyguy 32036]">
        <setting label="30005" id="proxy_enabled" type="bool" default="true"/>
        <setting label="30007" id="wv_level" type="enum" default="0" lvalues="30008|30009|30010"/>
        <setting label="30011" id="hdcp_level" type="enum" default="0" lvalues="30008|30012|30013|30014|30015"/>
        <setting label="30006" id="persist_cache" type="bool" default="true" visible="false"/>
        <setting label="$ADDON[script.module.slyguy 32147]" id="proxy_server" type="text" default="kodi"/>
        <setting label="$ADDON[script.module.slyguy 32037]" id="verify_ssl" type="bool" default="true"/>
        <setting label="$ADDON[script.module.slyguy 32044]" id="http_timeout" type="slider" default="15" range="5,5,60" option="int"/>
        <setting label="$ADDON[script.module.slyguy 32045]" id="http_retries" type="slider" default="1" range="1,1,10" option="int"/>
        <setting label="$ADDON[script.module.slyguy 32039]" id="service_delay" type="slider" default="0" range="0,5,60" visible="false"/>

        <setting label="$ADDON[script.module.slyguy 32019]" type="action" action="RunPlugin(plugin://$ID/?_=_reset)" option="close" visible="false"/>

        <setting id="_fresh" type="bool" default="true" visible="false"/>
        <setting id="_userdata" type="text" default="{}" visible="false"/>

        <setting id="_proxy_path" type="text" default="" visible="false"/>
        <setting id="_last_news_check" type="text" default="" visible="false"/>
        <setting id="_last_news_id" type="text" default="" visible="false"/>
        <setting id="_news" type="text" default="" visible="false"/>
    </category>
</settings>
